@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Outfit-regular";
    src: url(../../font/outfit-regular.woff2);
}

body {
    font-family: "Outfit-regular";
}